@font-face {
    font-family: 'SoDo Sans'; /* Nombre que usarás para referirte a la fuente */
    src: url('./fonts/SoDoSans-Regular.ttf') format('truetype'); /* Ruta y formato del archivo */
}

*{
    Margin:0;
    Padding:0;
    font-family: 'SoDo Sans';
    }

header {
    background-color: rgba(255, 255, 255, 0.95);
    width: 100vw;
    height: 70px;
    color: black; 
    display: flex;  
    position: fixed;
    justify-content: space-around;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    font-family: 'SoDo Sans', sans-serif;
    align-items: center;
}
    .MenuH{
        display: none;
    }
body{  
    background-color: #fff;
}

.hl img{
    width: 40px;
    height: 40px;
}
.hl{
    font-weight: bold;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.hl ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 20px;
}
.hl ul a {
    color: inherit;
    text-decoration: none;
}
.hr{
    display: flex;
    align-items: center;
    gap: 10%;
}
.hr img{
    width: 17px;
    height: 17px;
}
.hr ul{
    display: flex;
    list-style: none;
    white-space: nowrap;
}
.hr ul a {
    color: inherit;
    text-decoration: none;

}
.hr ul:hover{
    opacity: 65%;
}
button{
    border: solid 1px;
    width: 100px;
    height: 25px;
    border-radius: 25px;
}
button:hover{
    opacity: 65%;  
    cursor: pointer; 
}
.bwhite {
    background-color: white;
}
.bblack {
    background-color: black;
    color: white;
}
.underline-effect {
    position: relative;
}
.underline-effect::after {
    content: '';
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: green;
    transition: width 0.3s ease-in-out;
  }

  .underline-effect:hover::after {
    width: 100%;
    height: 5px;
  }

/*----------------Advertisement Section--------------------*/
main{
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    color: white;
    gap: 20px;
    padding-top: 75px;
    padding-bottom: 20px;
}
main section{
    display: flex;
    align-items: center;
    width: 90%;
    
}
main section img{
    width: 50%;
}

.advertisement div{
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 50%; 
    gap: 30px;
    padding: 7%;
}
.advertisement2 div{
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 50%; 
    gap: 30px;
    padding: 7%;
}
.buttonAD{
    color: #fff;
}
#style1{
    background-color: #1e3932 ;
}
#style2{
    background-color: #0044b4 ;
}
#style3{
    background-color: #d50032 ;
}
.buttonAD{
    background-color: transparent;
}

/*---------------------News Section-----------------------*/
.News{
    gap: 30px;
}
.News img{
    width: 100%;
}
.News div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 40px;
}
#Nstyle1{
    background-color: #f6bfd9;
    color: #d50032;
}

#Nstyle2{
    background-color: #98cde4;
    color: #003b49;
}
.Nlf{
    background-color: transparent;
    border-color: #d50032;
    color: #d50032;
}
.Nrg{
    background-color: transparent;
    border-color: #003b49;
    color: #003b49;
}
/*-------------------footer section-----------------------*/
footer {
    background-color: #fff;
    color: #a19996;
    padding: 50px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
}

.footer-sections {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 30px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section h3 {
    font-size: 16px;
    color: black;
    font-weight: 300;
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    color: #a19996;
    font-size: 14px;
}

.footer-section a:hover {
    color: black;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #a19996;
    margin: 10px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.social-icons img{
    width: 30px;
    height: 30px;
}
.social-icons a:hover {
    background-color: #ddd;
    color: #a3002f;
    transform: translateY(-3px);
    opacity: 70%;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 12px;
}

.footer-links a {
    text-decoration: none;
    color: #a19996;
}

.footer-links a:hover {
    color: black;
}

.footer-bottom {
    text-align: start;
    font-size: 12px;
    color: #a19996;
}
.footer-bottom p{
    font-size: 9px;
}
/*------------------Media section--------------------*/
@media (max-width: 768px) {
    header {
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: 70px;
        display: flex;  
        position: fixed;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
    }
     header .hl ul, .hr{
        display: none;
    }
    .MenuH{
        display: flex;
        width: 27px;
        height: 27px;
        padding-right: 40px;
        opacity: 45%;
    }
    .MenuH:hover{
        transform:scale(1.1);
        opacity: 25%;
    }

    main section img , main section div{
        display: flex;
        width: 100%; /* Las imágenes y textos ocuparán el 100% del contenedor en pantallas pequeñas */
    }
    main section {
        flex-direction: column; /* Los elementos se apilan verticalmente */
    }
    .advertisement2{
        flex-direction: column-reverse;
    }
    .footer-links{
        flex-direction: column;
        align-self: flex-start;
    }
    .social-icons{
        align-self: flex-start;
    }
    

}